Web References/WSZCL00/WSZCL00.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://tempuri.org/AbstractTypes" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AuthenticateUser">
        <s:complexType />
      </s:element>
      <s:element name="AuthenticateUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AuthenticateUserResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Authentication" type="tns:Authentication" />
      <s:complexType name="Authentication">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AuthenticatedToken" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HelloWorldZCL">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="siteID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HelloWorldZCLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldZCLResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="listeInfoTarget">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nomPoste" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="target" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="search" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="listeInfoTargetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listeInfoTargetResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="listeBadges">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nomPoste" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="listeBadgesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listeBadgesResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="listeBadgesDisponibles">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nomPoste" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="listeBadgesDisponiblesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listeBadgesDisponiblesResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="listeProfils">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nomPoste" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="residantID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="listeProfilsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listeProfilsResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="verifBadge">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nomPoste" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="badgePhysique" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="numVisite" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="verifBadgeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="verifBadgeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="entrer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nomPoste" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="visiteurID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="residantID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="badgeLogique" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="badgePhysique" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="profil" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="datedebut" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="datefin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="visiteID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="entrerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="entrerResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="revalidation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nomPoste" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="visiteID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="profil" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="date" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="revalidationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="revalidationResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sortir">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nomPoste" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="badgeLogique" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="badgePhysique" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="visiteID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sortirResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sortirResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="verifierSortiesCTRL">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="telemAccess" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="verifierSortiesCTRLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="verifierSortiesCTRLResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="synchro">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="telemAccess" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="synchroResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="synchroResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="copieFichier">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="telemAccess" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="copieFichierResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="copieFichierResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="importLog">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nomPoste" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lastDate" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="importLogResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="importLogResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="importProfilCtrl">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="telemAccess" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="importProfilCtrlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="importProfilCtrlResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="horsToResidant">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nomPoste" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="search" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="horsToResidantResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="horsToResidantResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="entrerLmp">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="telemAccess" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="entrerLmpResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="entrerLmpResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sortieLmp">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="telemAccess" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sortieLmpResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sortieLmpResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="setInfoTarget">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="siteID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="target" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="info" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="setInfoTargetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="setInfoTargetResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getSQL">
        <s:complexType />
      </s:element>
      <s:element name="getSQLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getSQLResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="setSQL">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="connectionString" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pwd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="server" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="type" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="setSQLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="setSQLResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getZCLParam">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="siteID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getZCLParamResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getZCLParamResult" type="tns:ArrayOfArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfString" nillable="true" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:element name="setZCLParam">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="siteID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parametres" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="setZCLParamResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="setZCLParamResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getSitesNonTraite">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="telemAccess" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getSitesNonTraiteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getSitesNonTraiteResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getSitesTraiteNow">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Entree" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getSitesTraiteNowResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getSitesTraiteNowResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="ArrayOfString" nillable="true" type="tns:ArrayOfString" />
      <s:element name="ArrayOfArrayOfString" nillable="true" type="tns:ArrayOfArrayOfString" />
    </s:schema>
    <s:schema targetNamespace="http://tempuri.org/AbstractTypes">
      <s:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <s:complexType name="StringArray">
        <s:complexContent mixed="false">
          <s:restriction base="soapenc:Array">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="unbounded" name="String" type="s:string" />
            </s:sequence>
          </s:restriction>
        </s:complexContent>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AuthenticateUserSoapIn">
    <wsdl:part name="parameters" element="tns:AuthenticateUser" />
  </wsdl:message>
  <wsdl:message name="AuthenticateUserSoapOut">
    <wsdl:part name="parameters" element="tns:AuthenticateUserResponse" />
  </wsdl:message>
  <wsdl:message name="AuthenticateUserAuthentication">
    <wsdl:part name="Authentication" element="tns:Authentication" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldAuthentication">
    <wsdl:part name="Authentication" element="tns:Authentication" />
  </wsdl:message>
  <wsdl:message name="HelloWorldZCLSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorldZCL" />
  </wsdl:message>
  <wsdl:message name="HelloWorldZCLSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldZCLResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldZCLAuthentication">
    <wsdl:part name="Authentication" element="tns:Authentication" />
  </wsdl:message>
  <wsdl:message name="listeInfoTargetSoapIn">
    <wsdl:part name="parameters" element="tns:listeInfoTarget" />
  </wsdl:message>
  <wsdl:message name="listeInfoTargetSoapOut">
    <wsdl:part name="parameters" element="tns:listeInfoTargetResponse" />
  </wsdl:message>
  <wsdl:message name="listeInfoTargetAuthentication">
    <wsdl:part name="Authentication" element="tns:Authentication" />
  </wsdl:message>
  <wsdl:message name="listeBadgesSoapIn">
    <wsdl:part name="parameters" element="tns:listeBadges" />
  </wsdl:message>
  <wsdl:message name="listeBadgesSoapOut">
    <wsdl:part name="parameters" element="tns:listeBadgesResponse" />
  </wsdl:message>
  <wsdl:message name="listeBadgesAuthentication">
    <wsdl:part name="Authentication" element="tns:Authentication" />
  </wsdl:message>
  <wsdl:message name="listeBadgesDisponiblesSoapIn">
    <wsdl:part name="parameters" element="tns:listeBadgesDisponibles" />
  </wsdl:message>
  <wsdl:message name="listeBadgesDisponiblesSoapOut">
    <wsdl:part name="parameters" element="tns:listeBadgesDisponiblesResponse" />
  </wsdl:message>
  <wsdl:message name="listeBadgesDisponiblesAuthentication">
    <wsdl:part name="Authentication" element="tns:Authentication" />
  </wsdl:message>
  <wsdl:message name="listeProfilsSoapIn">
    <wsdl:part name="parameters" element="tns:listeProfils" />
  </wsdl:message>
  <wsdl:message name="listeProfilsSoapOut">
    <wsdl:part name="parameters" element="tns:listeProfilsResponse" />
  </wsdl:message>
  <wsdl:message name="listeProfilsAuthentication">
    <wsdl:part name="Authentication" element="tns:Authentication" />
  </wsdl:message>
  <wsdl:message name="verifBadgeSoapIn">
    <wsdl:part name="parameters" element="tns:verifBadge" />
  </wsdl:message>
  <wsdl:message name="verifBadgeSoapOut">
    <wsdl:part name="parameters" element="tns:verifBadgeResponse" />
  </wsdl:message>
  <wsdl:message name="verifBadgeAuthentication">
    <wsdl:part name="Authentication" element="tns:Authentication" />
  </wsdl:message>
  <wsdl:message name="entrerSoapIn">
    <wsdl:part name="parameters" element="tns:entrer" />
  </wsdl:message>
  <wsdl:message name="entrerSoapOut">
    <wsdl:part name="parameters" element="tns:entrerResponse" />
  </wsdl:message>
  <wsdl:message name="entrerAuthentication">
    <wsdl:part name="Authentication" element="tns:Authentication" />
  </wsdl:message>
  <wsdl:message name="revalidationSoapIn">
    <wsdl:part name="parameters" element="tns:revalidation" />
  </wsdl:message>
  <wsdl:message name="revalidationSoapOut">
    <wsdl:part name="parameters" element="tns:revalidationResponse" />
  </wsdl:message>
  <wsdl:message name="revalidationAuthentication">
    <wsdl:part name="Authentication" element="tns:Authentication" />
  </wsdl:message>
  <wsdl:message name="sortirSoapIn">
    <wsdl:part name="parameters" element="tns:sortir" />
  </wsdl:message>
  <wsdl:message name="sortirSoapOut">
    <wsdl:part name="parameters" element="tns:sortirResponse" />
  </wsdl:message>
  <wsdl:message name="sortirAuthentication">
    <wsdl:part name="Authentication" element="tns:Authentication" />
  </wsdl:message>
  <wsdl:message name="verifierSortiesCTRLSoapIn">
    <wsdl:part name="parameters" element="tns:verifierSortiesCTRL" />
  </wsdl:message>
  <wsdl:message name="verifierSortiesCTRLSoapOut">
    <wsdl:part name="parameters" element="tns:verifierSortiesCTRLResponse" />
  </wsdl:message>
  <wsdl:message name="verifierSortiesCTRLAuthentication">
    <wsdl:part name="Authentication" element="tns:Authentication" />
  </wsdl:message>
  <wsdl:message name="synchroSoapIn">
    <wsdl:part name="parameters" element="tns:synchro" />
  </wsdl:message>
  <wsdl:message name="synchroSoapOut">
    <wsdl:part name="parameters" element="tns:synchroResponse" />
  </wsdl:message>
  <wsdl:message name="synchroAuthentication">
    <wsdl:part name="Authentication" element="tns:Authentication" />
  </wsdl:message>
  <wsdl:message name="copieFichierSoapIn">
    <wsdl:part name="parameters" element="tns:copieFichier" />
  </wsdl:message>
  <wsdl:message name="copieFichierSoapOut">
    <wsdl:part name="parameters" element="tns:copieFichierResponse" />
  </wsdl:message>
  <wsdl:message name="copieFichierAuthentication">
    <wsdl:part name="Authentication" element="tns:Authentication" />
  </wsdl:message>
  <wsdl:message name="importLogSoapIn">
    <wsdl:part name="parameters" element="tns:importLog" />
  </wsdl:message>
  <wsdl:message name="importLogSoapOut">
    <wsdl:part name="parameters" element="tns:importLogResponse" />
  </wsdl:message>
  <wsdl:message name="importLogAuthentication">
    <wsdl:part name="Authentication" element="tns:Authentication" />
  </wsdl:message>
  <wsdl:message name="importProfilCtrlSoapIn">
    <wsdl:part name="parameters" element="tns:importProfilCtrl" />
  </wsdl:message>
  <wsdl:message name="importProfilCtrlSoapOut">
    <wsdl:part name="parameters" element="tns:importProfilCtrlResponse" />
  </wsdl:message>
  <wsdl:message name="importProfilCtrlAuthentication">
    <wsdl:part name="Authentication" element="tns:Authentication" />
  </wsdl:message>
  <wsdl:message name="horsToResidantSoapIn">
    <wsdl:part name="parameters" element="tns:horsToResidant" />
  </wsdl:message>
  <wsdl:message name="horsToResidantSoapOut">
    <wsdl:part name="parameters" element="tns:horsToResidantResponse" />
  </wsdl:message>
  <wsdl:message name="horsToResidantAuthentication">
    <wsdl:part name="Authentication" element="tns:Authentication" />
  </wsdl:message>
  <wsdl:message name="entrerLmpSoapIn">
    <wsdl:part name="parameters" element="tns:entrerLmp" />
  </wsdl:message>
  <wsdl:message name="entrerLmpSoapOut">
    <wsdl:part name="parameters" element="tns:entrerLmpResponse" />
  </wsdl:message>
  <wsdl:message name="entrerLmpAuthentication">
    <wsdl:part name="Authentication" element="tns:Authentication" />
  </wsdl:message>
  <wsdl:message name="sortieLmpSoapIn">
    <wsdl:part name="parameters" element="tns:sortieLmp" />
  </wsdl:message>
  <wsdl:message name="sortieLmpSoapOut">
    <wsdl:part name="parameters" element="tns:sortieLmpResponse" />
  </wsdl:message>
  <wsdl:message name="sortieLmpAuthentication">
    <wsdl:part name="Authentication" element="tns:Authentication" />
  </wsdl:message>
  <wsdl:message name="setInfoTargetSoapIn">
    <wsdl:part name="parameters" element="tns:setInfoTarget" />
  </wsdl:message>
  <wsdl:message name="setInfoTargetSoapOut">
    <wsdl:part name="parameters" element="tns:setInfoTargetResponse" />
  </wsdl:message>
  <wsdl:message name="setInfoTargetAuthentication">
    <wsdl:part name="Authentication" element="tns:Authentication" />
  </wsdl:message>
  <wsdl:message name="getSQLSoapIn">
    <wsdl:part name="parameters" element="tns:getSQL" />
  </wsdl:message>
  <wsdl:message name="getSQLSoapOut">
    <wsdl:part name="parameters" element="tns:getSQLResponse" />
  </wsdl:message>
  <wsdl:message name="getSQLAuthentication">
    <wsdl:part name="Authentication" element="tns:Authentication" />
  </wsdl:message>
  <wsdl:message name="setSQLSoapIn">
    <wsdl:part name="parameters" element="tns:setSQL" />
  </wsdl:message>
  <wsdl:message name="setSQLSoapOut">
    <wsdl:part name="parameters" element="tns:setSQLResponse" />
  </wsdl:message>
  <wsdl:message name="setSQLAuthentication">
    <wsdl:part name="Authentication" element="tns:Authentication" />
  </wsdl:message>
  <wsdl:message name="getZCLParamSoapIn">
    <wsdl:part name="parameters" element="tns:getZCLParam" />
  </wsdl:message>
  <wsdl:message name="getZCLParamSoapOut">
    <wsdl:part name="parameters" element="tns:getZCLParamResponse" />
  </wsdl:message>
  <wsdl:message name="getZCLParamAuthentication">
    <wsdl:part name="Authentication" element="tns:Authentication" />
  </wsdl:message>
  <wsdl:message name="setZCLParamSoapIn">
    <wsdl:part name="parameters" element="tns:setZCLParam" />
  </wsdl:message>
  <wsdl:message name="setZCLParamSoapOut">
    <wsdl:part name="parameters" element="tns:setZCLParamResponse" />
  </wsdl:message>
  <wsdl:message name="setZCLParamAuthentication">
    <wsdl:part name="Authentication" element="tns:Authentication" />
  </wsdl:message>
  <wsdl:message name="getSitesNonTraiteSoapIn">
    <wsdl:part name="parameters" element="tns:getSitesNonTraite" />
  </wsdl:message>
  <wsdl:message name="getSitesNonTraiteSoapOut">
    <wsdl:part name="parameters" element="tns:getSitesNonTraiteResponse" />
  </wsdl:message>
  <wsdl:message name="getSitesNonTraiteAuthentication">
    <wsdl:part name="Authentication" element="tns:Authentication" />
  </wsdl:message>
  <wsdl:message name="getSitesTraiteNowSoapIn">
    <wsdl:part name="parameters" element="tns:getSitesTraiteNow" />
  </wsdl:message>
  <wsdl:message name="getSitesTraiteNowSoapOut">
    <wsdl:part name="parameters" element="tns:getSitesTraiteNowResponse" />
  </wsdl:message>
  <wsdl:message name="getSitesTraiteNowAuthentication">
    <wsdl:part name="Authentication" element="tns:Authentication" />
  </wsdl:message>
  <wsdl:message name="AuthenticateUserHttpGetIn" />
  <wsdl:message name="AuthenticateUserHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpGetIn" />
  <wsdl:message name="HelloWorldHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="HelloWorldZCLHttpGetIn">
    <wsdl:part name="siteID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="HelloWorldZCLHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="listeInfoTargetHttpGetIn">
    <wsdl:part name="nomPoste" type="s:string" />
    <wsdl:part name="target" type="s:string" />
    <wsdl:part name="search" type="s:string" />
  </wsdl:message>
  <wsdl:message name="listeInfoTargetHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="listeBadgesHttpGetIn">
    <wsdl:part name="nomPoste" type="s:string" />
  </wsdl:message>
  <wsdl:message name="listeBadgesHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="listeBadgesDisponiblesHttpGetIn">
    <wsdl:part name="nomPoste" type="s:string" />
  </wsdl:message>
  <wsdl:message name="listeBadgesDisponiblesHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="listeProfilsHttpGetIn">
    <wsdl:part name="nomPoste" type="s:string" />
    <wsdl:part name="residantID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="listeProfilsHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="verifBadgeHttpGetIn">
    <wsdl:part name="nomPoste" type="s:string" />
    <wsdl:part name="badgePhysique" type="s:string" />
    <wsdl:part name="numVisite" type="s:string" />
  </wsdl:message>
  <wsdl:message name="verifBadgeHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="entrerHttpGetIn">
    <wsdl:part name="nomPoste" type="s:string" />
    <wsdl:part name="visiteurID" type="s:string" />
    <wsdl:part name="residantID" type="s:string" />
    <wsdl:part name="badgeLogique" type="s:string" />
    <wsdl:part name="badgePhysique" type="s:string" />
    <wsdl:part name="profil" type="s:string" />
    <wsdl:part name="datedebut" type="s:string" />
    <wsdl:part name="datefin" type="s:string" />
    <wsdl:part name="visiteID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="entrerHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="revalidationHttpGetIn">
    <wsdl:part name="nomPoste" type="s:string" />
    <wsdl:part name="visiteID" type="s:string" />
    <wsdl:part name="profil" type="s:string" />
    <wsdl:part name="date" type="s:string" />
  </wsdl:message>
  <wsdl:message name="revalidationHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="sortirHttpGetIn">
    <wsdl:part name="nomPoste" type="s:string" />
    <wsdl:part name="badgeLogique" type="s:string" />
    <wsdl:part name="badgePhysique" type="s:string" />
    <wsdl:part name="visiteID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="sortirHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="verifierSortiesCTRLHttpGetIn">
    <wsdl:part name="telemAccess" type="s:string" />
  </wsdl:message>
  <wsdl:message name="verifierSortiesCTRLHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="synchroHttpGetIn">
    <wsdl:part name="telemAccess" type="s:string" />
  </wsdl:message>
  <wsdl:message name="synchroHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="copieFichierHttpGetIn">
    <wsdl:part name="telemAccess" type="s:string" />
  </wsdl:message>
  <wsdl:message name="copieFichierHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="importLogHttpGetIn">
    <wsdl:part name="nomPoste" type="s:string" />
    <wsdl:part name="lastDate" type="s:string" />
  </wsdl:message>
  <wsdl:message name="importLogHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="importProfilCtrlHttpGetIn">
    <wsdl:part name="telemAccess" type="s:string" />
  </wsdl:message>
  <wsdl:message name="importProfilCtrlHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="horsToResidantHttpGetIn">
    <wsdl:part name="nomPoste" type="s:string" />
    <wsdl:part name="search" type="s:string" />
  </wsdl:message>
  <wsdl:message name="horsToResidantHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="entrerLmpHttpGetIn">
    <wsdl:part name="telemAccess" type="s:string" />
  </wsdl:message>
  <wsdl:message name="entrerLmpHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="sortieLmpHttpGetIn">
    <wsdl:part name="telemAccess" type="s:string" />
  </wsdl:message>
  <wsdl:message name="sortieLmpHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="setInfoTargetHttpGetIn">
    <wsdl:part name="siteID" type="s:string" />
    <wsdl:part name="target" type="s:string" />
    <wsdl:part name="info" type="s:string" />
  </wsdl:message>
  <wsdl:message name="setInfoTargetHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getSQLHttpGetIn" />
  <wsdl:message name="getSQLHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="setSQLHttpGetIn">
    <wsdl:part name="connectionString" type="s:string" />
    <wsdl:part name="user" type="s:string" />
    <wsdl:part name="pwd" type="s:string" />
    <wsdl:part name="server" type="s:string" />
    <wsdl:part name="type" type="s:string" />
  </wsdl:message>
  <wsdl:message name="setSQLHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getZCLParamHttpGetIn">
    <wsdl:part name="siteID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getZCLParamHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfArrayOfString" />
  </wsdl:message>
  <wsdl:message name="setZCLParamHttpGetIn">
    <wsdl:part name="siteID" type="s:string" />
    <wsdl:part name="parametres" type="s1:StringArray" />
  </wsdl:message>
  <wsdl:message name="setZCLParamHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getSitesNonTraiteHttpGetIn">
    <wsdl:part name="telemAccess" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getSitesNonTraiteHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="getSitesTraiteNowHttpGetIn">
    <wsdl:part name="Entree" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getSitesTraiteNowHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="AuthenticateUserHttpPostIn" />
  <wsdl:message name="AuthenticateUserHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpPostIn" />
  <wsdl:message name="HelloWorldHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="HelloWorldZCLHttpPostIn">
    <wsdl:part name="siteID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="HelloWorldZCLHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="listeInfoTargetHttpPostIn">
    <wsdl:part name="nomPoste" type="s:string" />
    <wsdl:part name="target" type="s:string" />
    <wsdl:part name="search" type="s:string" />
  </wsdl:message>
  <wsdl:message name="listeInfoTargetHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="listeBadgesHttpPostIn">
    <wsdl:part name="nomPoste" type="s:string" />
  </wsdl:message>
  <wsdl:message name="listeBadgesHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="listeBadgesDisponiblesHttpPostIn">
    <wsdl:part name="nomPoste" type="s:string" />
  </wsdl:message>
  <wsdl:message name="listeBadgesDisponiblesHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="listeProfilsHttpPostIn">
    <wsdl:part name="nomPoste" type="s:string" />
    <wsdl:part name="residantID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="listeProfilsHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="verifBadgeHttpPostIn">
    <wsdl:part name="nomPoste" type="s:string" />
    <wsdl:part name="badgePhysique" type="s:string" />
    <wsdl:part name="numVisite" type="s:string" />
  </wsdl:message>
  <wsdl:message name="verifBadgeHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="entrerHttpPostIn">
    <wsdl:part name="nomPoste" type="s:string" />
    <wsdl:part name="visiteurID" type="s:string" />
    <wsdl:part name="residantID" type="s:string" />
    <wsdl:part name="badgeLogique" type="s:string" />
    <wsdl:part name="badgePhysique" type="s:string" />
    <wsdl:part name="profil" type="s:string" />
    <wsdl:part name="datedebut" type="s:string" />
    <wsdl:part name="datefin" type="s:string" />
    <wsdl:part name="visiteID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="entrerHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="revalidationHttpPostIn">
    <wsdl:part name="nomPoste" type="s:string" />
    <wsdl:part name="visiteID" type="s:string" />
    <wsdl:part name="profil" type="s:string" />
    <wsdl:part name="date" type="s:string" />
  </wsdl:message>
  <wsdl:message name="revalidationHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="sortirHttpPostIn">
    <wsdl:part name="nomPoste" type="s:string" />
    <wsdl:part name="badgeLogique" type="s:string" />
    <wsdl:part name="badgePhysique" type="s:string" />
    <wsdl:part name="visiteID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="sortirHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="verifierSortiesCTRLHttpPostIn">
    <wsdl:part name="telemAccess" type="s:string" />
  </wsdl:message>
  <wsdl:message name="verifierSortiesCTRLHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="synchroHttpPostIn">
    <wsdl:part name="telemAccess" type="s:string" />
  </wsdl:message>
  <wsdl:message name="synchroHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="copieFichierHttpPostIn">
    <wsdl:part name="telemAccess" type="s:string" />
  </wsdl:message>
  <wsdl:message name="copieFichierHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="importLogHttpPostIn">
    <wsdl:part name="nomPoste" type="s:string" />
    <wsdl:part name="lastDate" type="s:string" />
  </wsdl:message>
  <wsdl:message name="importLogHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="importProfilCtrlHttpPostIn">
    <wsdl:part name="telemAccess" type="s:string" />
  </wsdl:message>
  <wsdl:message name="importProfilCtrlHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="horsToResidantHttpPostIn">
    <wsdl:part name="nomPoste" type="s:string" />
    <wsdl:part name="search" type="s:string" />
  </wsdl:message>
  <wsdl:message name="horsToResidantHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="entrerLmpHttpPostIn">
    <wsdl:part name="telemAccess" type="s:string" />
  </wsdl:message>
  <wsdl:message name="entrerLmpHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="sortieLmpHttpPostIn">
    <wsdl:part name="telemAccess" type="s:string" />
  </wsdl:message>
  <wsdl:message name="sortieLmpHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="setInfoTargetHttpPostIn">
    <wsdl:part name="siteID" type="s:string" />
    <wsdl:part name="target" type="s:string" />
    <wsdl:part name="info" type="s:string" />
  </wsdl:message>
  <wsdl:message name="setInfoTargetHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getSQLHttpPostIn" />
  <wsdl:message name="getSQLHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="setSQLHttpPostIn">
    <wsdl:part name="connectionString" type="s:string" />
    <wsdl:part name="user" type="s:string" />
    <wsdl:part name="pwd" type="s:string" />
    <wsdl:part name="server" type="s:string" />
    <wsdl:part name="type" type="s:string" />
  </wsdl:message>
  <wsdl:message name="setSQLHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getZCLParamHttpPostIn">
    <wsdl:part name="siteID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getZCLParamHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfArrayOfString" />
  </wsdl:message>
  <wsdl:message name="setZCLParamHttpPostIn">
    <wsdl:part name="siteID" type="s:string" />
    <wsdl:part name="parametres" type="s1:StringArray" />
  </wsdl:message>
  <wsdl:message name="setZCLParamHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getSitesNonTraiteHttpPostIn">
    <wsdl:part name="telemAccess" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getSitesNonTraiteHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="getSitesTraiteNowHttpPostIn">
    <wsdl:part name="Entree" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getSitesTraiteNowHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="WSZCL00Soap">
    <wsdl:operation name="AuthenticateUser">
      <wsdl:input message="tns:AuthenticateUserSoapIn" />
      <wsdl:output message="tns:AuthenticateUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HelloWorldZCL">
      <wsdl:input message="tns:HelloWorldZCLSoapIn" />
      <wsdl:output message="tns:HelloWorldZCLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="listeInfoTarget">
      <wsdl:input message="tns:listeInfoTargetSoapIn" />
      <wsdl:output message="tns:listeInfoTargetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="listeBadges">
      <wsdl:input message="tns:listeBadgesSoapIn" />
      <wsdl:output message="tns:listeBadgesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="listeBadgesDisponibles">
      <wsdl:input message="tns:listeBadgesDisponiblesSoapIn" />
      <wsdl:output message="tns:listeBadgesDisponiblesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="listeProfils">
      <wsdl:input message="tns:listeProfilsSoapIn" />
      <wsdl:output message="tns:listeProfilsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="verifBadge">
      <wsdl:input message="tns:verifBadgeSoapIn" />
      <wsdl:output message="tns:verifBadgeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="entrer">
      <wsdl:input message="tns:entrerSoapIn" />
      <wsdl:output message="tns:entrerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="revalidation">
      <wsdl:input message="tns:revalidationSoapIn" />
      <wsdl:output message="tns:revalidationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="sortir">
      <wsdl:input message="tns:sortirSoapIn" />
      <wsdl:output message="tns:sortirSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="verifierSortiesCTRL">
      <wsdl:input message="tns:verifierSortiesCTRLSoapIn" />
      <wsdl:output message="tns:verifierSortiesCTRLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="synchro">
      <wsdl:input message="tns:synchroSoapIn" />
      <wsdl:output message="tns:synchroSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="copieFichier">
      <wsdl:input message="tns:copieFichierSoapIn" />
      <wsdl:output message="tns:copieFichierSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="importLog">
      <wsdl:input message="tns:importLogSoapIn" />
      <wsdl:output message="tns:importLogSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="importProfilCtrl">
      <wsdl:input message="tns:importProfilCtrlSoapIn" />
      <wsdl:output message="tns:importProfilCtrlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="horsToResidant">
      <wsdl:input message="tns:horsToResidantSoapIn" />
      <wsdl:output message="tns:horsToResidantSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="entrerLmp">
      <wsdl:input message="tns:entrerLmpSoapIn" />
      <wsdl:output message="tns:entrerLmpSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="sortieLmp">
      <wsdl:input message="tns:sortieLmpSoapIn" />
      <wsdl:output message="tns:sortieLmpSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="setInfoTarget">
      <wsdl:input message="tns:setInfoTargetSoapIn" />
      <wsdl:output message="tns:setInfoTargetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getSQL">
      <wsdl:input message="tns:getSQLSoapIn" />
      <wsdl:output message="tns:getSQLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="setSQL">
      <wsdl:input message="tns:setSQLSoapIn" />
      <wsdl:output message="tns:setSQLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getZCLParam">
      <wsdl:input message="tns:getZCLParamSoapIn" />
      <wsdl:output message="tns:getZCLParamSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="setZCLParam">
      <wsdl:input message="tns:setZCLParamSoapIn" />
      <wsdl:output message="tns:setZCLParamSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getSitesNonTraite">
      <wsdl:input message="tns:getSitesNonTraiteSoapIn" />
      <wsdl:output message="tns:getSitesNonTraiteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getSitesTraiteNow">
      <wsdl:input message="tns:getSitesTraiteNowSoapIn" />
      <wsdl:output message="tns:getSitesTraiteNowSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WSZCL00HttpGet">
    <wsdl:operation name="AuthenticateUser">
      <wsdl:input message="tns:AuthenticateUserHttpGetIn" />
      <wsdl:output message="tns:AuthenticateUserHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpGetIn" />
      <wsdl:output message="tns:HelloWorldHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="HelloWorldZCL">
      <wsdl:input message="tns:HelloWorldZCLHttpGetIn" />
      <wsdl:output message="tns:HelloWorldZCLHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="listeInfoTarget">
      <wsdl:input message="tns:listeInfoTargetHttpGetIn" />
      <wsdl:output message="tns:listeInfoTargetHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="listeBadges">
      <wsdl:input message="tns:listeBadgesHttpGetIn" />
      <wsdl:output message="tns:listeBadgesHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="listeBadgesDisponibles">
      <wsdl:input message="tns:listeBadgesDisponiblesHttpGetIn" />
      <wsdl:output message="tns:listeBadgesDisponiblesHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="listeProfils">
      <wsdl:input message="tns:listeProfilsHttpGetIn" />
      <wsdl:output message="tns:listeProfilsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="verifBadge">
      <wsdl:input message="tns:verifBadgeHttpGetIn" />
      <wsdl:output message="tns:verifBadgeHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="entrer">
      <wsdl:input message="tns:entrerHttpGetIn" />
      <wsdl:output message="tns:entrerHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="revalidation">
      <wsdl:input message="tns:revalidationHttpGetIn" />
      <wsdl:output message="tns:revalidationHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="sortir">
      <wsdl:input message="tns:sortirHttpGetIn" />
      <wsdl:output message="tns:sortirHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="verifierSortiesCTRL">
      <wsdl:input message="tns:verifierSortiesCTRLHttpGetIn" />
      <wsdl:output message="tns:verifierSortiesCTRLHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="synchro">
      <wsdl:input message="tns:synchroHttpGetIn" />
      <wsdl:output message="tns:synchroHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="copieFichier">
      <wsdl:input message="tns:copieFichierHttpGetIn" />
      <wsdl:output message="tns:copieFichierHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="importLog">
      <wsdl:input message="tns:importLogHttpGetIn" />
      <wsdl:output message="tns:importLogHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="importProfilCtrl">
      <wsdl:input message="tns:importProfilCtrlHttpGetIn" />
      <wsdl:output message="tns:importProfilCtrlHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="horsToResidant">
      <wsdl:input message="tns:horsToResidantHttpGetIn" />
      <wsdl:output message="tns:horsToResidantHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="entrerLmp">
      <wsdl:input message="tns:entrerLmpHttpGetIn" />
      <wsdl:output message="tns:entrerLmpHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="sortieLmp">
      <wsdl:input message="tns:sortieLmpHttpGetIn" />
      <wsdl:output message="tns:sortieLmpHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="setInfoTarget">
      <wsdl:input message="tns:setInfoTargetHttpGetIn" />
      <wsdl:output message="tns:setInfoTargetHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getSQL">
      <wsdl:input message="tns:getSQLHttpGetIn" />
      <wsdl:output message="tns:getSQLHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="setSQL">
      <wsdl:input message="tns:setSQLHttpGetIn" />
      <wsdl:output message="tns:setSQLHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getZCLParam">
      <wsdl:input message="tns:getZCLParamHttpGetIn" />
      <wsdl:output message="tns:getZCLParamHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="setZCLParam">
      <wsdl:input message="tns:setZCLParamHttpGetIn" />
      <wsdl:output message="tns:setZCLParamHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getSitesNonTraite">
      <wsdl:input message="tns:getSitesNonTraiteHttpGetIn" />
      <wsdl:output message="tns:getSitesNonTraiteHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getSitesTraiteNow">
      <wsdl:input message="tns:getSitesTraiteNowHttpGetIn" />
      <wsdl:output message="tns:getSitesTraiteNowHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WSZCL00HttpPost">
    <wsdl:operation name="AuthenticateUser">
      <wsdl:input message="tns:AuthenticateUserHttpPostIn" />
      <wsdl:output message="tns:AuthenticateUserHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpPostIn" />
      <wsdl:output message="tns:HelloWorldHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="HelloWorldZCL">
      <wsdl:input message="tns:HelloWorldZCLHttpPostIn" />
      <wsdl:output message="tns:HelloWorldZCLHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="listeInfoTarget">
      <wsdl:input message="tns:listeInfoTargetHttpPostIn" />
      <wsdl:output message="tns:listeInfoTargetHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="listeBadges">
      <wsdl:input message="tns:listeBadgesHttpPostIn" />
      <wsdl:output message="tns:listeBadgesHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="listeBadgesDisponibles">
      <wsdl:input message="tns:listeBadgesDisponiblesHttpPostIn" />
      <wsdl:output message="tns:listeBadgesDisponiblesHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="listeProfils">
      <wsdl:input message="tns:listeProfilsHttpPostIn" />
      <wsdl:output message="tns:listeProfilsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="verifBadge">
      <wsdl:input message="tns:verifBadgeHttpPostIn" />
      <wsdl:output message="tns:verifBadgeHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="entrer">
      <wsdl:input message="tns:entrerHttpPostIn" />
      <wsdl:output message="tns:entrerHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="revalidation">
      <wsdl:input message="tns:revalidationHttpPostIn" />
      <wsdl:output message="tns:revalidationHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="sortir">
      <wsdl:input message="tns:sortirHttpPostIn" />
      <wsdl:output message="tns:sortirHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="verifierSortiesCTRL">
      <wsdl:input message="tns:verifierSortiesCTRLHttpPostIn" />
      <wsdl:output message="tns:verifierSortiesCTRLHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="synchro">
      <wsdl:input message="tns:synchroHttpPostIn" />
      <wsdl:output message="tns:synchroHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="copieFichier">
      <wsdl:input message="tns:copieFichierHttpPostIn" />
      <wsdl:output message="tns:copieFichierHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="importLog">
      <wsdl:input message="tns:importLogHttpPostIn" />
      <wsdl:output message="tns:importLogHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="importProfilCtrl">
      <wsdl:input message="tns:importProfilCtrlHttpPostIn" />
      <wsdl:output message="tns:importProfilCtrlHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="horsToResidant">
      <wsdl:input message="tns:horsToResidantHttpPostIn" />
      <wsdl:output message="tns:horsToResidantHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="entrerLmp">
      <wsdl:input message="tns:entrerLmpHttpPostIn" />
      <wsdl:output message="tns:entrerLmpHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="sortieLmp">
      <wsdl:input message="tns:sortieLmpHttpPostIn" />
      <wsdl:output message="tns:sortieLmpHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="setInfoTarget">
      <wsdl:input message="tns:setInfoTargetHttpPostIn" />
      <wsdl:output message="tns:setInfoTargetHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getSQL">
      <wsdl:input message="tns:getSQLHttpPostIn" />
      <wsdl:output message="tns:getSQLHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="setSQL">
      <wsdl:input message="tns:setSQLHttpPostIn" />
      <wsdl:output message="tns:setSQLHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getZCLParam">
      <wsdl:input message="tns:getZCLParamHttpPostIn" />
      <wsdl:output message="tns:getZCLParamHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="setZCLParam">
      <wsdl:input message="tns:setZCLParamHttpPostIn" />
      <wsdl:output message="tns:setZCLParamHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getSitesNonTraite">
      <wsdl:input message="tns:getSitesNonTraiteHttpPostIn" />
      <wsdl:output message="tns:getSitesNonTraiteHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getSitesTraiteNow">
      <wsdl:input message="tns:getSitesTraiteNowHttpPostIn" />
      <wsdl:output message="tns:getSitesTraiteNowHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSZCL00Soap" type="tns:WSZCL00Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AuthenticateUser">
      <soap:operation soapAction="http://tempuri.org/AuthenticateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:AuthenticateUserAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:HelloWorldAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloWorldZCL">
      <soap:operation soapAction="http://tempuri.org/HelloWorldZCL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:HelloWorldZCLAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listeInfoTarget">
      <soap:operation soapAction="http://tempuri.org/listeInfoTarget" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:listeInfoTargetAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listeBadges">
      <soap:operation soapAction="http://tempuri.org/listeBadges" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:listeBadgesAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listeBadgesDisponibles">
      <soap:operation soapAction="http://tempuri.org/listeBadgesDisponibles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:listeBadgesDisponiblesAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listeProfils">
      <soap:operation soapAction="http://tempuri.org/listeProfils" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:listeProfilsAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verifBadge">
      <soap:operation soapAction="http://tempuri.org/verifBadge" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:verifBadgeAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="entrer">
      <soap:operation soapAction="http://tempuri.org/entrer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:entrerAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="revalidation">
      <soap:operation soapAction="http://tempuri.org/revalidation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:revalidationAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sortir">
      <soap:operation soapAction="http://tempuri.org/sortir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:sortirAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verifierSortiesCTRL">
      <soap:operation soapAction="http://tempuri.org/verifierSortiesCTRL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:verifierSortiesCTRLAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="synchro">
      <soap:operation soapAction="http://tempuri.org/synchro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:synchroAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="copieFichier">
      <soap:operation soapAction="http://tempuri.org/copieFichier" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:copieFichierAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="importLog">
      <soap:operation soapAction="http://tempuri.org/importLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:importLogAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="importProfilCtrl">
      <soap:operation soapAction="http://tempuri.org/importProfilCtrl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:importProfilCtrlAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="horsToResidant">
      <soap:operation soapAction="http://tempuri.org/horsToResidant" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:horsToResidantAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="entrerLmp">
      <soap:operation soapAction="http://tempuri.org/entrerLmp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:entrerLmpAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sortieLmp">
      <soap:operation soapAction="http://tempuri.org/sortieLmp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:sortieLmpAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setInfoTarget">
      <soap:operation soapAction="http://tempuri.org/setInfoTarget" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:setInfoTargetAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSQL">
      <soap:operation soapAction="http://tempuri.org/getSQL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:getSQLAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setSQL">
      <soap:operation soapAction="http://tempuri.org/setSQL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:setSQLAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getZCLParam">
      <soap:operation soapAction="http://tempuri.org/getZCLParam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:getZCLParamAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setZCLParam">
      <soap:operation soapAction="http://tempuri.org/setZCLParam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:setZCLParamAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSitesNonTraite">
      <soap:operation soapAction="http://tempuri.org/getSitesNonTraite" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:getSitesNonTraiteAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSitesTraiteNow">
      <soap:operation soapAction="http://tempuri.org/getSitesTraiteNow" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:getSitesTraiteNowAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSZCL00Soap12" type="tns:WSZCL00Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AuthenticateUser">
      <soap12:operation soapAction="http://tempuri.org/AuthenticateUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:AuthenticateUserAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:HelloWorldAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloWorldZCL">
      <soap12:operation soapAction="http://tempuri.org/HelloWorldZCL" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:HelloWorldZCLAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listeInfoTarget">
      <soap12:operation soapAction="http://tempuri.org/listeInfoTarget" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:listeInfoTargetAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listeBadges">
      <soap12:operation soapAction="http://tempuri.org/listeBadges" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:listeBadgesAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listeBadgesDisponibles">
      <soap12:operation soapAction="http://tempuri.org/listeBadgesDisponibles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:listeBadgesDisponiblesAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listeProfils">
      <soap12:operation soapAction="http://tempuri.org/listeProfils" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:listeProfilsAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verifBadge">
      <soap12:operation soapAction="http://tempuri.org/verifBadge" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:verifBadgeAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="entrer">
      <soap12:operation soapAction="http://tempuri.org/entrer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:entrerAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="revalidation">
      <soap12:operation soapAction="http://tempuri.org/revalidation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:revalidationAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sortir">
      <soap12:operation soapAction="http://tempuri.org/sortir" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:sortirAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verifierSortiesCTRL">
      <soap12:operation soapAction="http://tempuri.org/verifierSortiesCTRL" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:verifierSortiesCTRLAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="synchro">
      <soap12:operation soapAction="http://tempuri.org/synchro" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:synchroAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="copieFichier">
      <soap12:operation soapAction="http://tempuri.org/copieFichier" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:copieFichierAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="importLog">
      <soap12:operation soapAction="http://tempuri.org/importLog" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:importLogAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="importProfilCtrl">
      <soap12:operation soapAction="http://tempuri.org/importProfilCtrl" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:importProfilCtrlAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="horsToResidant">
      <soap12:operation soapAction="http://tempuri.org/horsToResidant" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:horsToResidantAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="entrerLmp">
      <soap12:operation soapAction="http://tempuri.org/entrerLmp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:entrerLmpAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sortieLmp">
      <soap12:operation soapAction="http://tempuri.org/sortieLmp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:sortieLmpAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setInfoTarget">
      <soap12:operation soapAction="http://tempuri.org/setInfoTarget" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:setInfoTargetAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSQL">
      <soap12:operation soapAction="http://tempuri.org/getSQL" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:getSQLAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setSQL">
      <soap12:operation soapAction="http://tempuri.org/setSQL" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:setSQLAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getZCLParam">
      <soap12:operation soapAction="http://tempuri.org/getZCLParam" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:getZCLParamAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setZCLParam">
      <soap12:operation soapAction="http://tempuri.org/setZCLParam" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:setZCLParamAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSitesNonTraite">
      <soap12:operation soapAction="http://tempuri.org/getSitesNonTraite" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:getSitesNonTraiteAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSitesTraiteNow">
      <soap12:operation soapAction="http://tempuri.org/getSitesTraiteNow" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:getSitesTraiteNowAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSZCL00HttpGet" type="tns:WSZCL00HttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="AuthenticateUser">
      <http:operation location="/AuthenticateUser" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloWorldZCL">
      <http:operation location="/HelloWorldZCL" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listeInfoTarget">
      <http:operation location="/listeInfoTarget" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listeBadges">
      <http:operation location="/listeBadges" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listeBadgesDisponibles">
      <http:operation location="/listeBadgesDisponibles" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listeProfils">
      <http:operation location="/listeProfils" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verifBadge">
      <http:operation location="/verifBadge" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="entrer">
      <http:operation location="/entrer" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="revalidation">
      <http:operation location="/revalidation" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sortir">
      <http:operation location="/sortir" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verifierSortiesCTRL">
      <http:operation location="/verifierSortiesCTRL" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="synchro">
      <http:operation location="/synchro" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="copieFichier">
      <http:operation location="/copieFichier" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="importLog">
      <http:operation location="/importLog" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="importProfilCtrl">
      <http:operation location="/importProfilCtrl" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="horsToResidant">
      <http:operation location="/horsToResidant" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="entrerLmp">
      <http:operation location="/entrerLmp" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sortieLmp">
      <http:operation location="/sortieLmp" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setInfoTarget">
      <http:operation location="/setInfoTarget" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSQL">
      <http:operation location="/getSQL" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setSQL">
      <http:operation location="/setSQL" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getZCLParam">
      <http:operation location="/getZCLParam" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setZCLParam">
      <http:operation location="/setZCLParam" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSitesNonTraite">
      <http:operation location="/getSitesNonTraite" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSitesTraiteNow">
      <http:operation location="/getSitesTraiteNow" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSZCL00HttpPost" type="tns:WSZCL00HttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="AuthenticateUser">
      <http:operation location="/AuthenticateUser" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloWorldZCL">
      <http:operation location="/HelloWorldZCL" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listeInfoTarget">
      <http:operation location="/listeInfoTarget" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listeBadges">
      <http:operation location="/listeBadges" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listeBadgesDisponibles">
      <http:operation location="/listeBadgesDisponibles" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listeProfils">
      <http:operation location="/listeProfils" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verifBadge">
      <http:operation location="/verifBadge" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="entrer">
      <http:operation location="/entrer" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="revalidation">
      <http:operation location="/revalidation" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sortir">
      <http:operation location="/sortir" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verifierSortiesCTRL">
      <http:operation location="/verifierSortiesCTRL" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="synchro">
      <http:operation location="/synchro" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="copieFichier">
      <http:operation location="/copieFichier" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="importLog">
      <http:operation location="/importLog" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="importProfilCtrl">
      <http:operation location="/importProfilCtrl" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="horsToResidant">
      <http:operation location="/horsToResidant" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="entrerLmp">
      <http:operation location="/entrerLmp" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sortieLmp">
      <http:operation location="/sortieLmp" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setInfoTarget">
      <http:operation location="/setInfoTarget" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSQL">
      <http:operation location="/getSQL" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setSQL">
      <http:operation location="/setSQL" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getZCLParam">
      <http:operation location="/getZCLParam" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setZCLParam">
      <http:operation location="/setZCLParam" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSitesNonTraite">
      <http:operation location="/getSitesNonTraite" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSitesTraiteNow">
      <http:operation location="/getSitesTraiteNow" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSZCL00">
    <wsdl:port name="WSZCL00Soap" binding="tns:WSZCL00Soap">
      <soap:address location="http://platon/ws_unis/WSZCL00.ASMX" />
    </wsdl:port>
    <wsdl:port name="WSZCL00Soap12" binding="tns:WSZCL00Soap12">
      <soap12:address location="http://platon/ws_unis/WSZCL00.ASMX" />
    </wsdl:port>
    <wsdl:port name="WSZCL00HttpGet" binding="tns:WSZCL00HttpGet">
      <http:address location="http://platon/ws_unis/WSZCL00.ASMX" />
    </wsdl:port>
    <wsdl:port name="WSZCL00HttpPost" binding="tns:WSZCL00HttpPost">
      <http:address location="http://platon/ws_unis/WSZCL00.ASMX" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>